.header {
  padding-top: 40px;
  margin-bottom: 50px;
}
.header .header__logo {
  cursor: pointer;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.header .header__logo .logo-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
  color: #1B1C57;
  margin-left: 12px;
}
.header .header__li {
  padding: 8px 16px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 32px;
  cursor: pointer;
  margin-left: 24px;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-transform: capitalize;
  color: white;
}
.header .header__li:hover {
  color: #047857;
  background-color: #88cfaa;
}
.header .header__li .select {
  position: absolute;
  top: 20px;
  right: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
  border-radius: 10px;
  font-size: 12px;
}
.header .header__li img {
  margin-left: 14px;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}
.header .li-toggle {
  position: relative;
}
.header .li-toggle p {
  color: #047857;
  margin-bottom: 17px;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}
.header .open {
  background-color: #88cfaa;
  color: #047857;
}
.header .open img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.header .open .select {
  top: 40px;
  visibility: visible;
  opacity: 1;
  background-color: #88cfaa;
  padding: 8px 16px;
  width: 128px;
}
.header .open .select p:hover {
  font-size: 14px;
}
.header .btn-sign-wrapper .btn-sign {
  margin-left: 56px;
  color: #047857;
  background: #D1FAE5;
  padding: 12px 24px;
  border-radius: 32px;
  cursor: pointer;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
}
@media screen and (max-width: 767px) {
  .header .btn-sign-wrapper .btn-sign {
    margin-left: 26px;
  }
}
.header .btn-sign-wrapper .btn-sign:hover {
  color: #047857;
  background-color: #88cfaa;
}
.header .header__wrapper .menu-opened span:nth-child(1) {
  margin-top: -0.5rem;
  margin-top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.header .header__wrapper .menu-opened span:nth-child(2) {
  margin-top: 0.5rem;
  margin-top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.header .header__wrapper .menu-opened span:nth-child(3) {
  margin-left: -1rem;
  opacity: 0;
  visibility: hidden;
}

.openBurger {
  overflow-y: hidden;
  background-color: white;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}
.openBurger .nav {
  display: block !important;
  position: fixed;
  top: 200px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  z-index: 1000;
}
.openBurger .nav li {
  margin-bottom: 20px;
  color: #0da076;
  background-color: #ade7c9;
}
.openBurger .overlay {
  opacity: 1;
  visibility: visible;
  position: absolute;
  top: 100px;
  left: 0;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
  background-color: white;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.open-menu {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  display: block;
  font-size: 0;
  line-height: 0;
  z-index: 100;
}
.open-menu span {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  border-bottom: 0.1rem solid rgb(0, 0, 0);
  height: 0;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}
.open-menu span:nth-child(1) {
  margin-top: -0.5rem;
}
.open-menu span:nth-child(2) {
  margin-top: 0.5rem;
}

.main {
  height: 720px;
}
.main .main__wrapper {
  overflow: hidden;
}
.main .main__info {
  max-width: 495px;
  width: 100%;
}
.main .main__info .main__title {
  padding-top: 50px;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-transform: capitalize;
  max-width: 400px;
  width: 100%;
  color: #1B1C57;
}
@media screen and (max-width: 767px) {
  .main .main__info .main__title {
    font-size: 30px;
    line-height: 40px;
  }
}
.main .main__info .main__title span {
  color: white;
  text-shadow: 0 0 2px #1B1C57, 0 0 2px #1B1C57, 0 0 2px #1B1C57, 0 0 2px #1B1C57;
}
.main .main__info .main__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #626687;
  opacity: 0.75;
  max-width: 490px;
  padding-top: 24px;
}
@media screen and (max-width: 767px) {
  .main .main__info .main__text {
    color: #1B1C57;
    opacity: 1;
  }
}
.main .main__info .partner-text {
  padding-top: 34px;
}
.main .main__info .input__wrapper {
  background: #FFFFFF;
  padding: 4px 4px 4px 24px;
  border: 1px solid #E0E3EB;
  border-radius: 32px;
  margin-top: 32px;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}
.main .main__info .input__wrapper:hover {
  background-color: #f0ffea;
}
.main .main__info .input__wrapper input {
  margin-left: 16px;
  width: 100%;
  background-color: transparent;
}
.main .main__info .input__wrapper button {
  background: #10B981;
  border-radius: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 16px;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: white;
  margin-left: auto;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}
.main .main__info .input__wrapper button img {
  margin-left: 5px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}
.main .main__info .input__wrapper button:hover {
  background: #038c5e;
}
.main .main__info .main__brands {
  max-width: 425px;
}
.main .main__img {
  max-width: 720px;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .main .main__img .main-img {
    opacity: 0.7;
    height: 720px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.sun {
  width: 220px;
  height: 220px;
  position: absolute;
  top: -50px;
  left: 50px;
  background: rgb(130, 255, 210);
  background: linear-gradient(331deg, rgb(130, 255, 210) 0%, rgb(130, 247, 255) 35%, rgb(185, 255, 130) 100%);
  -webkit-filter: blur(80px);
          filter: blur(80px);
  z-index: -1;
}

.swiper {
  max-width: 950px;
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 50px;
  left: 50px;
  z-index: 111111;
}
@media screen and (max-width: 767px) {
  .swiper {
    bottom: 20px;
    height: 70px;
    position: relative;
    bottom: 120px !important;
    left: 20px;
  }
}
.swiper .swiper-slide {
  width: auto !important;
  background-color: rgb(255, 255, 255);
  border-radius: 32px;
  padding: 24px;
}
.swiper .swiper-slide h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #1B1C57;
}
.swiper .swiper-slide p {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #68799F;
}
@media screen and (max-width: 767px) {
  .swiper .swiper-slide {
    width: unset !important;
  }
}

.tab-section {
  overflow: hidden;
  position: relative;
  padding-bottom: 120px;
}

.tabs .recommend {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-transform: capitalize;
  color: #F59E0B;
}
@media screen and (max-width: 1200px) {
  .tabs .recommend {
    padding-bottom: 20px;
  }
}
.tabs .recommend .recommend-line {
  width: 32px;
  height: 1px;
  background-color: #F59E0B;
  margin-right: 8px;
}
.tabs .tab-container {
  text-align: center;
  margin-bottom: 50px;
  padding-left: 100px;
}
@media screen and (max-width: 1200px) {
  .tabs .tab-container {
    margin-bottom: 150px;
    padding-left: 0;
  }
}
.tabs .tab-container .tab {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #888B97;
  padding: 14px 24px;
  border: 1px solid #E0E3EB;
  border-radius: 32px;
  cursor: pointer;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}
@media screen and (max-width: 540px) {
  .tabs .tab-container .tab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 15px;
    border-radius: 12px;
  }
}
.tabs .tab-container .tab:not(:last-child) {
  margin-right: 32px;
}
@media screen and (max-width: 540px) {
  .tabs .tab-container .tab:not(:last-child) {
    margin-right: 5px;
  }
}
.tabs .tab-container .tab:hover {
  -webkit-box-shadow: 5px 2px 2px rgb(80, 207, 89);
          box-shadow: 5px 2px 2px rgb(80, 207, 89);
}
.tabs .tab-container .tab img {
  margin-right: 8px;
  margin-bottom: 0;
  fill: red;
}
.tabs .tab-container .tab svg {
  fill: gray;
  margin-right: 8px;
}
.tabs .tab-container .active {
  color: #10B981;
  background: #D1FAE5;
  border: unset;
}
.tabs .tab-container .active svg {
  fill: #10B981;
}
.tabs .tab-content {
  display: none;
}
.tabs .tab-content .tab-descr {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  text-transform: capitalize;
  color: #1B1C57;
  position: relative;
  top: -40px;
}
@media screen and (max-width: 540px) {
  .tabs .tab-content .tab-descr {
    top: -10px;
    font-size: 22px;
    line-height: 20px;
  }
}
.tabs .tab-content .swiper2 {
  width: 100%;
  height: auto;
}
.tabs .tab-content .swiper2 .swiper-slide {
  width: 340px;
  height: 382;
  cursor: -webkit-grab;
  cursor: grab;
}
.tabs .tab-content .swiper2 .swiper-slide:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.tabs .tab-content .swiper2 .swiper-slide .swip-img-wrap {
  max-width: 340px;
  height: 382px;
  overflow: hidden;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
  border-radius: 24px;
  position: relative;
}
.tabs .tab-content .swiper2 .swiper-slide .swip-img-wrap .discount {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.tabs .tab-content .swiper2 .swiper-slide .swip-img-wrap .slide-img {
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}
.tabs .tab-content .swiper2 .swiper-slide .swip-img-wrap:hover .slide-img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.tabs .tab-content .swiper2 .swiper-slide h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  text-transform: capitalize;
  margin-top: 24px;
  margin-bottom: 8px;
}
@media screen and (max-width: 540px) {
  .tabs .tab-content .swiper2 .swiper-slide h3 {
    margin-top: 10px;
  }
}
.tabs .tab-content .swiper2 .swiper-slide p {
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: #3C4563;
  margin-bottom: 24px;
}
@media screen and (max-width: 540px) {
  .tabs .tab-content .swiper2 .swiper-slide p {
    margin-bottom: 10px;
  }
}
.tabs .tab-content .swiper2 .swiper-slide .name {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}
.tabs .tab-content .swiper2 .swiper-slide .addres {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #888B97;
}
.tabs .tab-content .swiper2 .swiper-button-prev {
  background-color: #E0E3EB;
  right: 92px;
  left: unset;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
  content: url("../imgs/prev.svg");
  padding: 10px;
}
.tabs .tab-content .swiper2 .swiper-button-prev:hover {
  background-color: #10B981;
  content: url("../imgs/prev2.svg");
}
.tabs .tab-content .swiper2 .swiper-button-next {
  background-color: #E0E3EB;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  content: url("../imgs/prev.svg");
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  padding: 10px;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}
.tabs .tab-content .swiper2 .swiper-button-next:hover {
  background-color: #10B981;
  content: url("../imgs/prev2.svg");
}
.tabs .tab-content.active {
  display: block;
}
.tabs .content-wr {
  overflow: hidden;
  margin-right: -130px;
  margin-left: 38px;
  padding-top: 50px;
  margin-top: -100px;
}
@media screen and (max-width: 1200px) {
  .tabs .content-wr {
    margin-left: 0;
    padding-top: 70px;
  }
}
.tabs .btn-wiper-wrap {
  position: absolute;
  top: 40px;
  right: 135px;
}
@media screen and (max-width: 1200px) {
  .tabs .btn-wiper-wrap {
    top: 100px;
    right: unset;
    left: 50%;
    -webkit-transform: translate(0, 50%);
            transform: translate(0, 50%);
  }
  .tabs .btn-wiper-wrap .swiper-button-next,
.tabs .btn-wiper-wrap .swiper-button-prev {
    position: relative;
  }
}
@media screen and (max-width: 540px) {
  .tabs .btn-wiper-wrap {
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    width: 159px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    top: 150px;
  }
  .tabs .btn-wiper-wrap .swiper-button-next,
.tabs .btn-wiper-wrap .swiper-button-prev {
    position: unset;
  }
}

.sell {
  padding-bottom: 120px;
  position: relative;
}
.sell .sun3 {
  width: 280px;
  height: 280px;
  position: absolute;
  top: 0px;
  right: 0px;
  background: rgb(255, 152, 130);
  background: linear-gradient(135deg, rgb(255, 152, 130) 0%, rgb(255, 250, 130) 100%);
  -webkit-filter: blur(140px);
          filter: blur(140px);
  z-index: -1;
}
.sell .sell__info {
  padding-left: 40px;
}
@media screen and (max-width: 992px) {
  .sell .sell__info {
    padding-left: 15px;
  }
}
.sell .sell__img {
  overflow: hidden;
}
.sell .sell__gold {
  padding-bottom: 12px;
  padding-left: 0;
}
.sell .sell__gold span {
  width: 32px;
  height: 1px;
  background-color: #F59E0B;
}
.sell .sell__gold p {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-transform: capitalize;
  color: #F59E0B;
  padding-left: 8px;
}
.sell h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  text-transform: capitalize;
  color: #1B1C57;
  padding-bottom: 12px;
}
.sell .sell__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #626687;
  opacity: 0.75;
  max-width: 413px;
  width: 100%;
  padding-bottom: 20px;
}
.sell .sell__ditail {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #1B1C57;
  opacity: 0.75;
  padding-bottom: 16px;
}
.sell .sell__descriptions {
  max-width: 440px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 40px;
  border-bottom: 1px solid #F0F3FD;
  margin-bottom: 32px;
  padding-bottom: 32px;
}
.sell .sell__descriptions img {
  margin-right: 20px;
}
.sell .sell__descriptions p {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
  color: #3C4563;
}
.sell .sell_person {
  max-width: 440px;
  width: 100%;
}
@media screen and (max-width: 992px) {
  .sell .sell_person {
    padding-bottom: 30px;
  }
  .sell .sell_person .sell__person-icon {
    width: 40px;
    height: 40px;
  }
}
.sell .sell_person .sell__name {
  padding-left: 24px;
}
@media screen and (max-width: 992px) {
  .sell .sell_person .sell__name {
    padding-left: 10px;
  }
}
.sell .sell_person .sell__name p:first-child {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #0E1735;
}
.sell .sell_person .sell__name p:last-child {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #888B97;
}
.sell .sell_person .btn-sell {
  background-color: #10B981;
  border-radius: 32px;
  color: white;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  padding: 12px 16px;
}
.sell .sell_person .btn-sell img {
  margin-right: 16px;
}
.sell .swiper4-1 {
  max-width: 528px;
  width: 100%;
  height: 459px;
  margin-left: auto;
}
@media screen and (max-width: 992px) {
  .sell .swiper4-1 {
    margin-left: 0;
    height: 359px;
  }
}
.sell .swiper4-1 .swiper-slide img {
  -o-object-fit: fill;
     object-fit: fill;
  height: 459px;
}
@media screen and (max-width: 992px) {
  .sell .swiper4-1 .swiper-slide img {
    height: auto;
    border: 20px;
  }
}

.about {
  overflow: hidden;
  padding-bottom: 120px;
}
@media screen and (max-width: 767px) {
  .about {
    padding-bottom: 80px;
  }
}
.about .about__title .about__line {
  width: 32px;
  height: 1px;
  background: #F59E0B;
  display: block;
  margin: 0 auto;
  margin-bottom: 12px;
}
.about .about__title .about-gold {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: capitalize;
  color: #F59E0B;
  padding-bottom: 12px;
}
.about .about__title h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  text-transform: capitalize;
  color: #1B1C57;
  padding-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .about .about__title h2 {
    font-size: 22px;
    line-height: 30px;
    padding-bottom: 20px;
  }
}
.about .swiper3 {
  position: relative;
  width: 100%;
  height: 537px;
}
.about .swiper3 .swiper-slide {
  max-width: 740px;
  width: 100%;
  cursor: -webkit-grab;
  cursor: grab;
}
.about .swiper3 .swiper-slide:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.about .swiper3 .swiper-pagination-bullet-active {
  background-color: #3C4563;
}
.about .swiper3 .slide__info {
  max-width: 612px;
  width: 100%;
  position: absolute;
  bottom: 32px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background-color: white;
  -webkit-box-shadow: 0px 9px 32px rgba(89, 92, 219, 0.05);
          box-shadow: 0px 9px 32px rgba(89, 92, 219, 0.05);
  border-radius: 16px;
  padding: 32px;
}
.about .swiper3 .slide__info .slide__info-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #626687;
  opacity: 0.75;
  padding-bottom: 24px;
}
.about .swiper3 .slide__info h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  text-transform: capitalize;
  color: #1B1C57;
  margin-bottom: 16px;
}
.about .swiper3 .slide__info .slide-name {
  padding-left: 24px;
}
.about .swiper3 .slide__info .slide-name p {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #0E1735;
}
.about .swiper3 .slide__info .slide-name span {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #888B97;
}
.about .swiper3 .slide__info .star {
  margin-left: auto;
  margin-top: auto;
}
.about .swiper3 .slide__info .star span {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #3C4563;
  padding-left: 16px;
}

.partnership {
  padding-bottom: 120px;
  position: relative;
}
@media screen and (max-width: 576px) {
  .partnership {
    padding-bottom: 60px;
  }
}
.partnership .sun2 {
  width: 450px;
  height: 450px;
  position: absolute;
  top: 40px;
  left: -100px;
  background: rgb(255, 250, 130);
  background: linear-gradient(25deg, rgb(255, 250, 130) 0%, rgb(200, 255, 130) 35%, rgb(130, 187, 255) 70%);
  -webkit-filter: blur(160px);
          filter: blur(160px);
  z-index: -1;
}
.partnership .partners-title {
  max-width: 424px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  text-transform: capitalize;
  padding-bottom: 42px;
}
.partnership .partners-title .partner-line {
  display: block;
  width: 32px;
  height: 1px;
  background: #F59E0B;
  margin: 0 auto 8px;
}
.partnership .partners-title .partner-gold {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #F59E0B;
  padding-bottom: 12px;
}
.partnership .partners-title h2 {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: #1B1C57;
  padding-bottom: 24px;
}
@media screen and (max-width: 767px) {
  .partnership .partners-title h2 {
    font-size: 22px;
    line-height: 30px;
  }
}
.partnership .partners-title button {
  background: #10B981;
  border-radius: 32px;
  padding: 12px 16px;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #FFFFFF;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
  border: 1px solid #10B981;
}
.partnership .partners-title button:hover {
  color: #10B981;
  background-color: white;
}
@media screen and (max-width: 576px) {
  .partnership .house {
    width: 100%;
    height: auto;
  }
}
.partnership .partner-info {
  padding-left: 25px;
}
@media screen and (max-width: 576px) {
  .partnership .partner-info {
    padding-left: 0;
  }
}
.partnership .partner-name {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #3C4563;
  padding-left: 16px;
}
.partnership .partner-time {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #888B97;
  padding-left: 12px;
}
.partnership h4 {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  text-transform: capitalize;
  color: #1B1C57;
  max-width: 340px;
  width: 100%;
}
.partnership h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  text-transform: capitalize;
  color: #1B1C57;
  padding-bottom: 12px;
}
.partnership .partner-txt {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #888B97;
}

.form-block {
  position: relative;
  height: 312px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  border-radius: 32px;
  background: -webkit-gradient(linear, left top, right top, from(rgb(117, 170, 250)), color-stop(50%, rgb(219, 231, 255)), to(rgb(126, 173, 245)));
  background: linear-gradient(90deg, rgb(117, 170, 250), rgb(219, 231, 255) 50%, rgb(126, 173, 245));
  background-size: 200% 200%;
  -webkit-animation: gradient 6.5s ease-in-out infinite;
          animation: gradient 6.5s ease-in-out infinite;
  padding-top: 65px;
}
@media screen and (max-width: 767px) {
  .form-block {
    height: 270px;
    padding-top: 45px;
    border-radius: 12px;
  }
}
.form-block .gr {
  position: absolute;
  top: 40px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 100%;
  height: auto;
  z-index: 0;
}
@-webkit-keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
.form-block .form-block-wrapp h2 {
  text-align: center;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  text-transform: capitalize;
  color: #1B1C57;
  max-width: 424px;
  width: 100%;
  margin: 0 auto 32px;
}
@media screen and (max-width: 767px) {
  .form-block .form-block-wrapp h2 {
    font-size: 22px;
    line-height: 28px;
    margin: 0 auto 25px;
  }
}
.form-block .form-block-wrapp .form {
  position: relative;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  background-color: white;
  max-width: 496px;
  width: 100%;
  padding: 4px 4px 4px 24px;
  -webkit-box-shadow: 0px 9px 32px rgba(89, 92, 219, 0.05);
          box-shadow: 0px 9px 32px rgba(89, 92, 219, 0.05);
  border-radius: 32px;
}
.form-block .form-block-wrapp .form input {
  max-width: 300px;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}
.form-block .form-block-wrapp .form img {
  margin-right: 16px;
}
.form-block .form-block-wrapp .form .form-btn {
  min-width: 129px;
  background: #10B981;
  border-radius: 32px;
  padding: 12px 16px;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #FFFFFF;
}
.form-block .form-block-wrapp .success {
  text-align: center;
  display: block;
  margin: 15px auto 0;
  color: #0e9367;
  font-size: 22px;
  text-transform: capitalize;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
  opacity: 0;
}

footer {
  padding-top: 100px;
  padding-bottom: 120px;
  position: relative;
}
@media screen and (max-width: 767px) {
  footer {
    padding-bottom: 50px;
  }
}
footer .sun1 {
  width: 350px;
  height: 350px;
  position: absolute;
  top: 100px;
  right: 100px;
  background: rgb(255, 250, 130);
  background: linear-gradient(25deg, rgb(255, 250, 130) 0%, rgb(200, 255, 130) 35%, rgb(130, 187, 255) 70%);
  -webkit-filter: blur(120px);
          filter: blur(120px);
  z-index: -1;
}
footer .logo {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
  color: #1B1C57;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}
footer .logo:hover {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
footer .footer__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #626687;
  opacity: 0.75;
  margin-bottom: 24px;
  max-width: 320px;
  width: 100%;
}
footer .social {
  width: 144px;
}
footer .social span {
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
  padding: 5px;
  cursor: pointer;
}
footer .social span:nth-child(1) {
  content: url("../imgs/facebook.svg");
}
footer .social span:nth-child(1):hover {
  content: url("../imgs/tweeter-red.svg");
}
footer .social span:nth-child(2) {
  content: url("../imgs/tweeter.svg");
}
footer .social span:nth-child(2):hover {
  content: url("../imgs/facebook-red.svg");
}
footer .social span:nth-child(3) {
  content: url("../imgs/instagram.svg");
}
footer .social span:nth-child(3):hover {
  content: url("../imgs/instagram-red.svg");
}
footer .footer-link h2 {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #0E1735;
  margin-bottom: 24px;
}
footer .footer-link li {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #888B97;
  margin-bottom: 18px;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}
footer .footer-link li:hover {
  padding-left: 5px;
}
footer .footer-link li a {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #888B97;
}